* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.img {
    height: 100%;
    width: auto;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: black;
}

body {
    background-image: url("/img/bkg-main-light.png");
    background-size: cover;
    overflow: hidden;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

/* HEADER */
.logo {
    color: black;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    position: absolute;
    height: 179px;
    background-image: url("/img/header-bkg-Light.png");
   
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
}
.header-bottom {
    display: flex;


}


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    width: 76px;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: #18d9c65e;
    text-align: center;
}
header a {
    text-decoration: none;
    color: black;

}

.CTA-connect a {
    border: 1px #F53F7B solid;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #F53F7B;
    padding: 10px;
    background-color: #F53F7B;
    color: white;
}

.CTA-connect :first-child {
    margin-right: 10px;
}


/* zone flotaison */

.blue-border {

    border: 1px #e7e7e7 solid;
    /* box-shadow: rgb(24, 217, 198) 6px 0px 49px 0px inset, rgba(19, 31, 29, 0.5) 6px 0px 49px 0px inset; */
    box-shadow: rgb(207, 216, 215) 6px 0px 49px 0px inset, rgba(26, 26, 26, 0.5) 6px 0px 49px 0px inset;
    border-radius: 10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.daily-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.daily-riddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
    min-height: 60vh;
    padding: 40px;

    /* box-shadow: rgb(24, 217, 198) 6px 0px 49px 0px inset, rgba(19, 31, 29, 0.5) 6px 0px 49px 0px inset; */
    /* box-shadow: rgb(207, 216, 215) 6px 0px 49px 0px inset, rgba(26, 26, 26, 0.5) 6px 0px 49px 0px inset; */
    box-shadow: rgb(34, 34, 34) 6px 0px 49px 0px inset, rgb(0, 0, 0) 6px 0px 49px 0px inset;
    border-radius: 10px;
}

.answer-daily {
    background-color: rgb(65, 65, 65);
}

.valid-daily, .answer-daily {
    padding: 5px 10px
}

