* {
    margin:0;
    box-sizing: border-box;
}

body {
    background-image: url('/img/Background.svg');
    width: 100%;
}
/* #header-bkg-blur {
    width: 100%;
    height: 180px;
} */
header {
    background-image: url('/img/Header_Background.png');
    height: 180px;
}


#header-bkg-img {
    position: absolute;
    /* left: -240px; */
    left: calc((1920px - 100vw)/-2);
    /* transform: translateX(calc((1920px - 100vw))); */
    /* transform: translateX(calc((1920px - 100vw)/2)); */
}
#header-blur-top {
    /* background-color: red; */
    height: 127px;
}
#header-blur-middle {
    /* background-color: red; */
    height: 42px;
    border-radius: 10px 10px 10px 10px;
}
#header-blur-bottom {
    /* background-color: red; */
    height: 42px;
}
.blur {
    backdrop-filter: blur(5px);
}