* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.img {
    height: 100%;
    width: auto;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: black;
}

body {
    background-image: url("/img/BKG-light_1920.svg");
    background-position: center top;
}

.container {
    width: 1820px;
    margin: 0 auto;
}
.flex {
    display: flex;
}

/* HEADER */

/* HEADER IMAGE CENTER RESPONSIVE OVERFLOW */
header {
  height: 180px;
  background-image: url("../img/header_bkg_1920.png");
  background-position: center;
}

div.header-top {
    height: 104px;
    justify-content: space-between;
}

div.header-top *{
    align-items: center;
}

#icon-account {
    width: 26px;
}
